absl-py==0.11.0
astor==0.8.1
certifi==2020.12.5
cloudpickle==1.1.1
contextlib2==0.6.0.post1
coverage==5.4
Cython==0.29.22
decorator==4.4.2
dm-sonnet==1.36
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.35.0
h5py==2.10.0
hyperopt==0.2.5
importlib-metadata==2.0.0
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
networkx==2.5
numpy==1.19.2
opt-einsum==3.1.0
pip==21.0.1
protobuf==3.14.0
scikit-learn==0.24.1
scipy==1.5.2
semantic-version==2.8.5
six==1.15.0
sklearn==0.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-probability==0.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.58.0
webencodings==0.5.1
Werkzeug==0.16.1
wheel==0.36.2
wrapt==1.12.1
zipp==3.4.0
